*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: var(--ltn__body-font);
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    margin: 0 auto;
    overflow-x: hidden;

}

.container{
    text-align: center;
    margin: 40px;
}
.navbar{
    position:relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}
.navbar a{
    color: black;
}
.navbar .nav-links1 ul {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.navbar .nav-links1 ul li {
    margin: 0 20px;
    size: 30rem;
}
.navbar .nav-links2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar .nav-links2 ul li {
    margin: 0 10px;
}
.icon-2{
    display: flex;
}
.mini-cart-icon{
    display: flex;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
    margin-right: 9px;
    margin-bottom: 12px;
}
.mini-cart-icon i {
 font-size: 20px;
 margin-right:-2px;
}
.sup{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: crimson;
    text-align: center;
    margin-top: -10px;
}
.icon-2 > h6{
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 0;
    width: 60px;
    
}
.ltn_secondary-color{
    color: crimson;
    
}
.menu-hamburger{
    display: none;
    width: 25px;
    position: absolute;
    top: 10%;
    right: 0%;
    background-color: #545151;

}

.section-slider {
 position: relative;
 left: 0;
 top: 0;
 width: 100%;
 overflow: hidden;
 background-color:#eaccd2;
}
ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


ul.slides input {
    display: none; 
}

.sli-cont{
    display: block; 
}
.sli-image{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}


.sli-image img {
    width: auto;
    min-width: 100%;
    /* height: 100%; */
}


.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}


.sli-image:hover + .carousel-controls label{
    opacity: 0.5;
}


.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}


input:checked + .sli-cont .sli-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}


input:checked + .sli-cont .carousel-controls label {
    display: block; 
}


input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .sli-cont .nav label { display: block; }

  /* fin */

.slider-container {
    max-width: 800px; 
    position: absolute;
    left: 800px;
    top: 35%;
    width: 50%;
    margin: auto;
    height: 800px; 
    overflow: hidden;
}

.menu {
    position: absolute;
    z-index: 11;
    width: 100%;
    top: 95%; 
    text-align: center;
}
.dot-1 {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgb(177, 67, 67);
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.dot-2{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #175378;
}
.slide-input{
    opacity: 0;
}
.slide-img {

    width: 90%;
    height: 600px;
    position: absolute;
    top: -120px;
    left: 90%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
.slider{
  left: 0;
  top: 0;
  
}
.slider .info{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 29%;
    top:55%;
     
}
 hr{
  height: 3px;
  width: 80px;
  margin-top: 10px;
  position: absolute;
  top: 10px; 
  background-color:rgb(222, 65, 91);
}
.info .hr-h6 h4{
  font-size: 20px;
  font-weight: 300; 
  margin-right: 50%;
  color: rgb(222, 65, 91);
  text-transform: uppercase;
}
.info h1{
    display: flex;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;

}
.info p{
    text-align: justify;
}
.info span{
    display: block;
    cursor: pointer;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 30px 2px; 
    opacity:0.75;  
    border-radius: 5rem;
    width: 20%;
    background-color:rgb(222, 65, 91) ;
}


.info .hr-h6{
    animation-duration: 0.5s;
    animation-name: glissement;
    animation-iteration-count:initial;
}
 
h1{
    animation-duration: 2s;
    animation-name: glissement;
    animation-iteration-count:initial;
    animation-direction:normal;
}


p {
    animation-duration: 3s;
    animation-name: glissement;
    animation-iteration-count:initial;
}

.retour{
    animation-duration: 4s;
    animation-name: glissement;
    animation-iteration-count:initial;
    animation-direction: normal; 
}

  @keyframes glissement {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
  
    to {
        transform: transformY(100%);
        opacity: 1;
    }
  }

.navigation{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(550px);
    margin-bottom: 12px;
}
.navigation .btn:not(:last-child){
    margin-right: 20px;
}
.img-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:30px ;
    
}
.img-div{
    display: flex;
    justify-content: space-between;
}

.img-img{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 23%;
    
}
.img-img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);

}
.img-section2{
    
    margin-top: 60px;
}
.img-article{
    width: 100%;
}
.article-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.img-1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.class-card{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.img-article div h3{
    margin: 10px;
    font-size: 16px;
    
}
.article-title .new{
    border-bottom: 2px solid rgb(222, 65, 91);
}
.card-1{
    position:relative;
    border-radius: 2em;
    width: 50%;
    
}

.quick-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -50px;
    margin-left: 190px;
    margin-right: 35px;
    height: 9%;

}

.quick-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}
.card-text2{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
    font-weight: 100; 
}
.card-text2 .fa{
    font-size: 15px;
}
.card-1 span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    /* left:50px; */
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.card-1 .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    /* left:50px; */
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.img-img-2{
    width: 80%;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.img-img-2:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1); 
}


.vide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}
.div-vide{
    width: 100%;
}
.img-vide{
    width: 85%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.img-vide:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.section-products{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
 }
.section-products .new{
    border-bottom: 2px solid rgb(222, 65, 91);
    width: 10%;
    margin-left: 45%;
    
}

.class-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
}
.class-card2{
    display: flex;
    flex-direction: row;
}
.card{
    position:relative;
    border-radius: 2em;
    width: 45%;
    margin-left: 10px;
   

}
.card span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.card .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.products-img-2{
    width: 85%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.products-img-2:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}


.quick1-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -55px;
    margin-left: 190px;
    margin-right: 25px;
    height: 9%;

}
.quick1-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick1-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}
.card-text{
    
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
    font-weight: 100; 
}
.card-text .fa{
    font-size: 15px;
}
.card hr{
    position: absolute;
    top: 57%;
    width: 230px;
    left: -5%;
    height: auto;
}
 .new-2{
    border-bottom: 1px solid rgb(222, 65, 91);
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-right: 25px;
    
}
.card-text .hache{
    text-decoration: line-through;
    position: absolute;
    left:45%;
    bottom:1%;
    color: #797878;
    font-size:14px;
}
.div-bas{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
}
.div-svg{
    background-color: aliceblue;
    width: 100%;
    height: 20vh;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.col{
    display: flex;
    flex-direction: row;
}
.img-svg{
     width: 90px;
}
.div-svg .div-img-text{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.div-svg .text{
    margin-left: 20px;
     margin-top: 30px; 
    text-align: left;
}
.div-svg .text2{
    font-weight: 100;
    font-size: 10px;
}
.img-png{
    background-color: rgb(229, 228, 224);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid; */
}
.img-png img{
    width: 9%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.img-png img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
 
}
.nav-footer{
    border: 1px solid;
    background-color: rgb(46, 45, 45);

}
.nav-footer .div-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    padding: 10px;
    width: 100%;
    
}
.nav-footer .div-footer div{
   
    color: white;
    
    
}
.div-footer ul li{
    color: #797878;
}
footer{
    text-align: center;
    margin: 60px;
}
.lorem{
    width: 80%;
}
.footer-bas{
    background-color: rgb(46, 45, 45);
    color:  #797878;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    position: relative;
 }
.nav-footer .new-3{
    border-bottom: 2px solid rgb(222, 65, 91);
    width: 99%;
    margin-left: 6px;
}
.text-bas{
    position: absolute;
    left:20px;
    margin: 10px;
}
.social-media ul{
    display: flex;
    flex-direction: row;
}
.social-media ul li{
    margin: 10px;
}

/*mode tablette */
  @media screen and (min-width: 992px) and (max-width: 1378px)
  {
    .container{
        text-align: center;
        margin: 30px;
    }
   .navbar .nav-links1 ul li {
    margin: 0 16px;
    size: 30rem;
    }
    
   .section-slider {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color:#eaccd2;
   }
   
.slider{
    
    left: 0;
    top: 0;
   
  }
    
.slider-container {
    max-width: 800px; 
    position: absolute;
    left: 550px;
    top: 30%;
    width: 50%;
    margin: auto;
    height: 800px; 
    overflow: hidden;
}
   
.slider .info{
    position: absolute;
    left: 37%;
    top:55%;
    transform: translate(-50%, -50%); 
     
} 

.info .hr-h6 h4{
    font-size: 16px;
    font-weight: 300; 
    margin-right: 45%;
    color: rgb(222, 65, 91);
    text-transform: uppercase;
  }
hr{
    height: 3px;
    width: 80px;
    position: absolute;
    top: 10px; 
    background-color:rgb(222, 65, 91);
    margin-top: 5px;
}
.img-article{
    width: 100%;
}
.article-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.img-1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.class-card{
    display: flex;
    flex-direction: row;
}
.img-article div h3{
    margin: 10px;
    font-size: 16px;
    
}
.article-title .new{
    border-bottom: 2px solid rgb(222, 65, 91);
}
.card-1{
    position:relative;
    border-radius: 2em;
    width: 50%;

}
.quick-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -40px;
    margin-left: 90px;
    margin-right: 25px;
    height: 9%;

}

.quick-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}

.quick1-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -45px;
    margin-left: 90px;
    margin-right: 25px;
    height: 9%;

}

.quick1-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick1-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}


.card-text2{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
    font-weight: 100; 
}
.card-text2 .fa{
    font-size: 15px;
}

.card-1 span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    left:22px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.card-1 .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    left:22px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.img-img-2{
    width: 80%;
    cursor: pointer;
}
.div-vide
{
    width: 50%;
}
    
.section-products{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.section-products .new{
    border-bottom: 2px solid rgb(222, 65, 91);
    width: 5%;
    margin-left: 48%;
     /* left: 48%; */
}

.class-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 35px;
}
.class-card2{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.card{
    position:relative;
    border-radius: 2em;
    width: 50%;

}
.card span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.card .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.products-img-2{
     width: 80%;
}
.card-text .fa{
    font-size: 15px;
}
.card hr{
    position: absolute;
    top: 57%;
    width: 230px;
    left: -5%;
    height: auto;
}

.card-text{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
    font-weight: 100;
}
.new-2{
    border-bottom: 1px solid rgb(222, 65, 91);
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-right: 25px;
}
.card-text .hache{
    text-decoration: line-through;
    position: absolute;
    left:45%;
    bottom:1%;
    color: #797878;
    font-size:14px;
}

.div-svg .div-img-text{
    display: flex;
    flex-direction: row;
    margin: 2px;
}
    .footer-bas{
        height: 10vh;
    }
    .footer-bas hr{
        width: 95%;
    }
    .text-bas{
        left: 15px;
    }
  }
/*mode tablette*/
  @media screen and (min-width:786px) and (max-width:991px){
    
.container{
    text-align: center;
    margin: 20px;
}
    .navbar{
    position:relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    }
    .navbar .nav-links1 ul li{
        display: none;
    }
    
   .navbar .nav-links2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
    
    .menu-li{
    
    width: 30px;
    }
    .menu-hamburger{
        display: block;
        width: 25px;
    }
    
        
   .section-slider {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color:#eaccd2;
   }
   
   .slider{
    
    left: 0;
    top: 0;
    }
    
   .slider-container {
    max-width: 800px; 
    position: absolute;
    left: 470px;
    top: 25%;
    width: 50%;
    margin: auto;
    height: 800px; 
    overflow: hidden;
    }
   
    .slider .info{
    
    left: 37%;
    top:55%;
    transform: translate(-50%, -50%); 
     
    }
    .info h1{
        font-size: 30px;
        font-weight: 200;
        margin-top: 50px;
    }
    
.info .hr-h6 h4{
    font-size: 16px;
    font-weight: 300; 
    margin-right: 30%;
    color: rgb(222, 65, 91);
    text-transform: uppercase;
  }
    
hr{
    height: 3px;
    width: 80px;
    position: absolute;
    top: 10px; 
    background-color:rgb(222, 65, 91);
    margin-top: 5px;
}
    
.info span{
    width: 30%;
    
   }
      
.img-section2{
    
    margin-top: 60px;
}
.img-article{
    width: 100%;
}
.article-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.img-1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.class-card{
    display: flex;
    flex-direction: column;
}
.img-article div h3{
    margin: 10px;
    font-size: 16px;
    
}
.article-title .new{
    border-bottom: 2px solid rgb(222, 65, 91);
}
.card-1{
    position:relative;
    border-radius: 2em;
    width: 90%;

}

.quick1-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -45px;
    margin-left: 160px;
    margin-right: 25px;
    height: 9%;

}

.quick1-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick1-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}

.quick-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -50px;
    margin-left: 190px;
    margin-right: 35px;
    height: 9%;

}

.quick-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}

.card-text2{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
    font-weight: 100; 
}
.card-text2 .fa{
    font-size: 15px;
}

.card-1 span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    left:32px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.card-1 .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    left:32px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
    
.img-div{  
      display:flex;
      flex-wrap: wrap;
}
    
    
.img-img{
        display: flex;
        flex-direction: column;
        width: 46%;
        margin: 6px;
}
.img-vide{
        width: 90%;
        /* height: 30vh; */
}
       
.section-products{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.section-products .new{
    border-bottom: 2px solid rgb(222, 65, 91);
    width: 10%;
    margin-left: 48%;
     /* left: 48%; */
}

.class-products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
}
.class-card2{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.card{
    position:relative;
    border-radius: 2em;
    width: 50%;

}
.card span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.card .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.card-text .fa{
    font-size: 15px;
}

.card-text{
    padding: 25px 0 0;
    margin-bottom: 5px;
    /* margin-left: 20px; */
    text-align: left;
    font-weight: 100;
}
.new-2{
    border-bottom: 1px solid rgb(222, 65, 91);
    padding-bottom: 15px;
    margin-bottom: 10px;
    /* margin-right: 5px; */
}
.card-text .hache{
    text-decoration: line-through;
    position: absolute;
    left:45%;
    bottom:1%;
    color: #797878;
    font-size:14px;
}
    
.div-svg{
        
      width: 100%;
      height: 25vh;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-svg{
     width: 50px;
}
.div-svg .text{
     margin-top: 0;
}
.nav-footer .div-footer div{
   width: 25%;
}
.text-bas{
   left: 20px;
}
.footer-bas hr{
   width: 95%;
}
/*Mode mobile*/
 }
 @media screen and (min-width:500px) and (max-width:786px)
  {
    
  .container{
    text-align: center;
    margin: 10px;
   }
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar .logo{
        margin: 2px;
    }
    .navbar .nav-links1 ul li{
        display: none;
    }
    
    .menu-hamburger{
        display: block;
        width: 25px;
        top: 45px;
        right : 40px;

    }
    
    .section-slider{
        height: 80vh;
    }
    .slider-container{
        left: 60%;
        top: 100px;
    }
    .slider .info{
        left: 37%;
        top: 300px;
    }
    .info h1{
        font-size: 28px;
        font-weight: 300;
        
    }
    .info .hr-h6{
       margin: auto;
    }
    hr{
    height: 3px;
    width: 80px;
    position: absolute;
    top: 10px; 
    background-color:rgb(222, 65, 91);
  
    }
    .info .hr-h6 h4{
        font-size: 15px;
        /* margin-right: 20px; */
        margin-top: 5px;
        left: 70px;
        position: relative;
    }
    .info span{
        width: 50%;
    }
    .img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-img{
       width: 99%;
       margin: 10px;
       height: 50%;
    }
        
    .img-section2{
    
    margin-top: 60px;
    margin-right: 15px;
     }
   .img-article{
    width: 100%;
     }
  
  .img-article div h3{
    margin: 10px;
    font-size: 16px;
    
     }
   .article-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: relative;
   }
   
   .article-title .new{
    border-bottom: 2px solid rgb(222, 65, 91);
   }

   .img-1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   }
   .class-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54%;
   }
   
   .card-1{
    position:relative;
    border-radius: 2em;
    width: 70%;

  }
  
  .card-1 span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    left:2px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

   }
  .card-1 .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    left:2px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

  }
  
  .img-img-2{
    width: 100%;
    cursor: pointer;
   }

   
.quick1-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -40px;
    margin-left: 50px;
    margin-right: 0px;
    height: 9%;

}

.quick1-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick1-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}

.quick-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -37px;
    margin-left: 60px;
    margin-right: 0px;
    height: 9%;

}

.quick-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}

   .card-text2{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 0px;
    text-align: left;
    font-weight: 100; 
  }
  .card-text2 .fa{
    font-size: 15px;
   }
  .div-vide
  {
    width: 50%;
  }
       
  .vide{
        display: flex;
        flex-direction: column;
    }
   .div-vide{
        width: 100%;
    }

          
.section-products{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.section-products .new{
    border-bottom: 2px solid rgb(222, 65, 91);
    width: 10%;
    margin-left: 48%;
    
}

.class-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 15px;
   
}
.class-card2{
      display: flex;
        flex-direction: column;
        justify-content: center; 
        /* align-items: center; */
        width: 70%;
        
}
.card{
    position:relative;
    border-radius: 2em;
    width: 70%;

}
.card span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.card .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.products-img-2{
    width: 100%;
}
.card-text .fa{
    font-size: 15px;
}

.card-text{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 0px;
    text-align: left;
    font-weight: 100;
}
.new-2{
    border-bottom: 1px solid rgb(222, 65, 91);
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.card-text .hache{
    text-decoration: line-through;
    position: absolute;
    left:45%;
    bottom:1%;
    color: #797878;
    font-size:14px;
}

    .div-svg{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .img-svg{
        width: 30px;
    }
    .div-svg .text{
        margin: 0;
    }
    .div-bas{ 
        margin-top:30%;
        width: 90%;
    }
    .section-products article hr{
        width: 190px;
    }
    .img-png img{
     width: 30%;
    }
    .nav-footer .div-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-footer .div-footer div{
        margin: 5px;
    }
    .social-media{
      margin-left: 120px;
    }

}
 @media screen and (max-width:500px){
    
.container{
    text-align: center;
    margin: 10px;
}
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar .logo{
        margin: 2px;
    }
    .navbar .nav-links1 ul li{
        display: none;
    }
    
    .menu-hamburger{
        display: block;
        width: 25px;
        top: 50px;

    }
    .section-slider{
        height: 60vh;
    }
    
    .slider-container{
        left: 65%;
       

    }
    .slider .info{
      left: 33%;
      margin-left: 10px; 
       
    }
    hr{
        height: 3px;
        width: 75px; 
        position: absolute;
        background-color:rgb(222, 65, 91);
        margin-top: 30px;
    }    
    .info .hr-h6 h4{
        font-size: 11px;
        margin-top: 32px;
        /* margin-right: 0px; */
        position: relative;
        left: 80px;

       
    }
    .info h1{
        font-size: 16px;
       
    }
    .info p{
        font-size: 10px;

    }
    .hr-h6{
        line-height: 15px;
        
    }
    .info span{
        font-size: 10px;
        width: 40%;
        margin-top: 9px;
    }
    .img-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .img-img{
        width: 99%;
        margin: 10px;
        height: 50%;
    }
     
    .img-section2{
    
    margin-top: 60px;
     }
   .img-article{
    width: 100%;
     
    }
  
  .img-article div h3{
    margin: 10px;
    font-size: 10px;
    
    }
   .article-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: relative;
   }
   
   .article-title .new{
    border-bottom: 2px solid rgb(222, 65, 91);
    
   }

   .img-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    margin-top: 20px;
   }
   .class-card{
    display: flex;
    flex-direction: column;
    width: 80%;
   }
   
   .card-1{
    
    border-radius: 2em;
    width: 100%;
    margin: 10px;
    

  }
  
  .card-1 span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    left:2px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

   }
  .card-1 .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    left:2px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

  }
  
  .img-img-2{
    width: 100%;
    cursor: pointer;
   }
   
  
.quick1-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -47px;
    margin-left: 160px;
    margin-right: 25px;
    height: 9%;

}

.quick1-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick1-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
}

.quick-view-div{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
    background-color: #686767;
    margin-top: -45px;
    margin-left: 150px;
    margin-right: 5px;
    height: 9%;

}

.quick-view-div i{
    margin: 8px;
    width: 25px;   
}
.quick-view-div:hover {
    opacity: 1;
    /* transition: all 0.3s; */   
} 
   .card-text2{
    padding: 25px 0 0;
    margin-bottom: 5px;
    margin-left: 0px;
    text-align: left;
    font-weight: 100; 
}
   .card-text2 .fa{
    font-size: 15px;
    }
  .vide{
        display: flex;
        flex-direction: column;
    }       
    .section-products{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    }

    .section-products .new{
    border-bottom: 2px solid rgb(222, 65, 91);
    width: 20%;
    margin-left: 40%;
    
    }

    .class-products{
        display: flex;
        flex-direction: column;
    }
    .class-card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .card{
         width: 100%;
    }
    .card span{
        width: 35px;
        height: 5vh;
        
    }
    .card .vert{
        width: 35px;
        height: 5vh;
        
    }
    
    .card-text{
        padding: 25px 0 0;
        margin-bottom: 5px;
        margin-left: 15px;
        text-align: left;
        font-weight: 100;
    }
    .new-2{
        border-bottom: 1px solid rgb(222, 65, 91);
        padding-bottom: 15px;
        margin-bottom: 10px;
        width: 100%;
        
    }
    
    .div-svg{
        display: flex;
        flex-direction: column;
        height: 100vh; 
    }

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .div-svg .text{
     margin-top: 5px;   
    }
    .img-svg{
        width: 50px;
    }

   
    .img-png img{
        width: 25%;
       margin: 2px;
    }
    .nav-footer .div-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-bas{
        left: 20px;
    }
    
    .social-media{
        margin-top: 45px; 
        
        margin-left: -30px;
    }
    .nav-footer .div-footer div{
        margin: 5px;
        width: 85%;
    }
    .nav-footer .new-3{
        border-bottom: 2px solid rgb(222, 65, 91);
        width:97%
    }
} 
  
 