*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: var(--ltn__body-font);
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    margin: 0 auto;

}
.navbar{
    position:relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}
.navbar a{
    color: black;
}
.navbar .nav-links1 ul {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.navbar .nav-links1 ul li {
    margin: 0 20px;
    size: 30rem;
}
.navbar .nav-links2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-links2 ul li {
    margin: 0 10px;
}
.icon-2{
    display: flex;
}
.mini-cart-icon{
    display: flex;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
    margin-right: 9px;
    margin-bottom: 12px;
}
.mini-cart-icon i {
 font-size: 20px;
 margin-right:-2px;
}
.sup{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: crimson;
    text-align: center;
    margin-top: -10px;
}
.icon-2 > h6{
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 0;
    width: 60px;
    
}
.ltn_secondary-color{
    color: crimson;
    
}
.menu-hamburger{
    display: none;
    width: 25px;
    position: absolute;
    top: 10%;
    right: 0%;
    background-color: #545151;

}
.container{
    text-align: center;
    margin: 60px;
}
.section-slider {
 position: relative;
 left: 0;
 top: 0;
 width: 100%;
 height: 80vh;
 overflow: hidden;
 /* background-image: url(7-3-removebg.png);
 background-image: url(6-3-removebg.png); */
 /* animation: animate 30s ease-in-out infinite; */
 /* background-size:40%;
 background-position: right;
 background-repeat: no-repeat; */
 background-color:#eaccd2;
}
/*  
@keyframes animate{
    0%,100% {
        background-image: url(7-3-removebg.png);
    }
    25% {
        background-image: url(6-3-removebg.png);
    }
} */

.slider-container {
    max-width: 800px; 
    position: absolute;
    left: 800px;
    top: 35%;
    width: 50%;
    margin: auto;
    height: 800px; 
    overflow: hidden;
}

.menu {
    position: absolute;
    /* left: 30%; */
    /* right: 50%; */
    z-index: 11;
    width: 100%;
    /* bottom: -17%; */
    top: 95%; 
    text-align: center;
}
.dot-1 {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgb(177, 67, 67);
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.dot-2{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #175378;
}
.slide-input{
    opacity: 0;
}
.slide-img {

    width: 90%;
    height: 600px;
    position: absolute;
    top: -120px;
    left: 90%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
.slider{
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 30%;
  height: 50vh;
}
.slider .info{
    position: absolute;
    left: 27%;
    top:50%;
    transform: translate(-50%, -50%); 
     
}
 hr{
  height: 3px;
  width: 70px;
  margin: 5px;
  position: absolute;
  top: 10px; 
  background-color:rgb(222, 65, 91);
}
.info .hr-h6 h4{
  font-size: 20px;
  font-weight: 300; 
  position: absolute;
  top: 0;
  left: 90px;
  color: rgb(222, 65, 91);
  text-transform: uppercase;
}
.info h1{
    display: flex;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;

}
.info p{
    text-align: justify;
}
.info span{
    display: block;
    cursor: pointer;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 30px 2px; 
    opacity:0.5;  
    border-radius: 5rem;
    width: 20%;
    background-color:rgb(222, 65, 91) ;
}
.navigation{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(550px);
    margin-bottom: 12px;
}
.navigation .btn{
    /* width: 12px;
    height: 12px;
    background: #ecdddd;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 255, 255,0.5);
    transition: 0.3 ease; */
}
.navigation .btn:not(:last-child){
    margin-right: 20px;
}
.navigation .btn:hover{
    /* -webkit-transform: scale(1.5);
    transform: scale(1.5); */

}
.img-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:30px ;
    
}
.img-div{
    display: flex;
    justify-content: space-between;
}

.img-img{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 23%;
    
}
.img-img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    /* transform:scale(1.1);
    transition: transform 400ms; */

}
/* .img-img:hover{
    -ms-transform: scale(1.5);
    transform: scale(1.5);
} */
.img-section2{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    margin-top: 60px;
}
.img-article{
    width: 100%;
}
.article-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.img-1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.class-card{
    display: flex;
    flex-direction: row;
}
.img-article div h3{
    margin: 10px;
    font-size: 16px;
    
}
.img-article div hr{
    width: 8%;
    top: 35px;
    left: 38%;

    /* position: absolute; */
}
.card-1{
    position:relative;
    border-radius: 2em;
    width: 50%;

}

.quick-view{
    display: none;
    position: absolute;
    width: 35%;
    height: 10%;
    top: 87%;
    left:170px;
    
}
.quick-view-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: #797878;
}

.quick-view i{
    margin: 8px;
    width: 15px;   
}

.quick-view:hover{
    display: block;  
}

.card-1 span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    left:50px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.card-1 .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    left:50px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;

}
.img-img-2{
    width: 70%;
    cursor: pointer;
}
/*
.img-img-2:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: #797878;
} */
.vide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}
.div-vide{
    width: 100%;
}
.img-vide{
    width: 85%;
    height: 50vh;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.img-vide:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.section-products{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.section-products article .ligne{ 
    left: 48%;
    top: 45px;
}
.section-products article hr{
     top: 55px;
     /* left: 48%; */
}
.class-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
}
.class-card2{
    display: flex;
    flex-direction: row;
}
.card{
    position:relative;
    border-radius: 2em;
    width: 50%;

}
.card span{
    position: absolute;
    width: 50px;
    background-color: orchid;
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.card .vert{
    position: absolute;
    width: 50px;
    background-color: rgb(112, 218, 128);
    text-align: center;
    height: 30px;
    top:6%;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
.products-img-2{
    width: 70%;
}
.card-text{
    position:absolute;
    left: 15%;
    text-align: left;
    font-weight: 100;
}
.card-text .fa{
    font-size: 15px;
}
.card hr{
    position: absolute;
    top: 57%;
    width: 230px;
    left: -5%;
    height: auto;
}
.card-text .hache{
    text-decoration: line-through;
    position: absolute;
    left:45%;
    bottom:1%;
    color: #797878;
    font-size:14px;
}
.div-bas{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
}
.div-svg{
    background-color: aliceblue;
    width: 100%;
    height: 20vh;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.col{
    display: flex;
    flex-direction: row;
}
.img-svg{
     width: 90px; 
}
.div-svg .div-img-text{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.div-svg .text{
    margin-left: 20px;
     margin-top: 30px; 
    text-align: left;
}
.div-svg .text2{
    font-weight: 100;
    font-size: 10px;
}
.img-png{
    background-color: rgb(229, 228, 224);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid; */
}
.img-png img{
    width: 10%;
}
.nav-footer{
    border: 1px solid;
    background-color: rgb(46, 45, 45);

}
.nav-footer .div-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    margin: 20px;
    width: 100%;
    
}
.nav-footer .div-footer div{
   
    color: white;
    
    
}
.div-footer ul li{
    color: #797878;
}
footer{
    text-align: center;
    margin: 60px;
}
.lorem{
    width: 80%;
}
.footer-bas{
    background-color: rgb(46, 45, 45);
    color:  #797878;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    position: relative;
}
.footer-bas hr{
  height: 1px;
  width: 97%;
  margin-top: -20px;
  border-color: #797878;
}
.text-bas{
    position: absolute;
    left:20px;
    margin: 10px;
}
.social-media ul{
    display: flex;
    flex-direction: row;
}
.social-media ul li{
    margin: 10px;
}

/*mode tablette */
  @media screen and (min-width: 992px) and (max-width: 1378px)
  {
    
   .navbar .nav-links1 ul li {
    margin: 0 16px;
    size: 30rem;
    }
    .section-slider{
        width: 100%;
    }
    .slider-container{
        /* position: absolute;
        width: 50%;*/
        left: 65%; 
    }
    .slider .info{
        width: 60%;
        left: 40%;
        
    }
    .img-article div hr{
        left: 35%;
    }
    .card-1 .vert{
        left: 30px;
    }
    .card-1 span{
        left: 30px;
    }
    .div-vide{
        width: 50%;
    }
    .section-products article hr{
        width: 170px;
    }
    .footer-bas{
        height: 10vh;
    }
    .footer-bas hr{
        width: 95%;
    }
    .text-bas{
        left: 15px;
    }
   .section-products article .ligne{
     left: 48%;
     width: 7%;
    } 
  }
/*mode tablette*/
  @media screen and (min-width:787px) and (max-width:991px){
    .navbar .nav-links1 ul li{
        display: none;
    }
    
    .menu-li{
    
    width: 30px;
    }
    .menu-hamburger{
        display: block;
        width: 25px;
    }
    .slider .info{
     left: 38%;  
    }
    .slider-container{
        left: 450px;
        top: 100px;
    }
    .info span{
        width: 25%;
    }
    .img-div{
        
      display:flex;
      flex-wrap: wrap;
    }
    .card-1 .vert{
        left: 25px;
    }
    .card-1 span{
        left: 25px;
    }
    .card .vert{
        left: 25px;
    }
    .card span{
        left: 25px;
    }
    
    .img-img{
        display: flex;
        flex-direction: column;
        width: 46%;
        margin: 6px;
    }
    .img-vide{
        width: 90%;
        height: 30vh;
    }
    .img-article div hr{
        left: 33%;
    }
    .section-products article hr{
        width: 130px;
    }
    .div-svg{
        
        width: 100%;
        height: 25vh;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img-svg{
        width: 50px;
    }
    .div-svg .text{
        margin-top: 0;
    }
    .section-products article .ligne{
        left:46%;
        width:80px

    }
    .nav-footer .div-footer div{
        width: 25%;
    }
    .text-bas{
        left: 20px;
    }
    .footer-bas hr{
        width: 95%;
    }
 }
 @media screen and (min-width:500px) and (max-width:786px)
  {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar .logo{
        margin: 2px;
    }
    .navbar .nav-links1 ul li{
        display: none;
    }
    
    .menu-hamburger{
        display: block;
        width: 25px;
        top: 45px;
        right : 40px;

    }
    .slider-container{
        left: 60%;
        top: 100px;
    }
    .slider .info{
        left: 35%;
        top: 250px;
    }
    .info h1{
        font-size: 20px;
        font-weight: 300;
        padding:20px

    }
    hr{
      width:80px ;  
    }
    .info .hr-h6 h4{
        font-size: 15px;
        margin-right: -80px;
    }
    .info span{
        width: 50%;
    }
    .img-div{
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .img-img{
       width: 99%;
       margin: 10px;
       height: 50%;
    }
    .img-article div hr{
        left: 25%;
        width: 80px;
    }
    .img-1{
        margin: 20px;
        width: 100%;

    }
    .class-card{
        display: flex;
        flex-direction: column;
    }
    .img-img-2{
        width: 100%;
    }
    .card-1{
        
        width: 90%;
    }
    .card-1 .vert{
        left: -5px;

    }
    .card-1 span{
        left: -5px;
    }
    .vide{
        display: flex;
        flex-direction: column;
    }
    .div-vide{
        width: 100%;
    }
    .img-vide{
        width: 100%;
        height: 20vh;
    }
    .section-products article .ligne{
        left: 45%;
        width: 55px;
    }
    .card{
        width: 90% ;
        height: 20vh; 
    }
    .products-img-2{
        width: 90%;
        height: 40vh;
    }
    .card-text{
        left: 9%;
        
    }
    .div-svg{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .class-card2{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: 90%;
        height: 75vh;
    }
    .img-svg{
        width: 30px;
    }
    .div-svg .text{
        margin: 0;
    }
    .div-bas{ 
        margin-top:70%;
        width: 90%;
    }
    .section-products article hr{
        width: 190px;
    }
    .img-png img{
     width: 30%;
    }
    .nav-footer .div-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-footer .div-footer div{
        margin: 5px;
    }
    .social-media{
      /* margin-top: 45px;  */
      margin-left: 120px;
    }

}
 @media screen and (max-width:499px){
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar .logo{
        margin: 2px;
    }
    .navbar .nav-links1 ul li{
        display: none;
    }
    
    .menu-hamburger{
        display: block;
        width: 25px;
        top: 45px;
        right : 40px;

    }
    .section-slider{
        height: 60vh;
    }
    .slider-container{
        left: 60%;
        top: 400px;

    }
    .slider .info{
      margin-top: 60px;
      left: 33%;
      margin-left: 10px; 
       
    }
    .info h1{
        font-size: 25px;
        margin-left: 5px ;
        margin-top: 50px;
    }
    .hr-h6{
        margin: 5px;
        line-height: 20px;
    }
    hr{
        top: 8px;
    }
    .info span{
        width: 40%;
    }
    .img-div{
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .img-img{
        width: 99%;
        margin: 10px;
        height: 50%;
    }
    .img-article div hr{
        width: 20%;
        left: 12%;
    }
    .img-1{
        display: flex;
        flex-direction: column;
    }
    .vide{
        display: flex;
        flex-direction: column;
    }
    .img-vide{
        height: 20vh;
    }
    .section-products article .ligne{
        width: 15%;
        left: 42%;
    }
    .class-products{
        display: flex;
        flex-direction: column;
    }
    .class-card2{
         display: flex;
        flex-direction: column;
        align-items: center; 
        width: 90%;
        
    }
    .card{
        width: 100%;
        height: 25vh;
    }
    .card span{
        width: 35px;
        height: 2vh;
    }
    .card .vert{
        width: 35px;
        height: 2vh;
    }
    .products-img-2{
        width: 50%;
    }
    .card-text{
        left: 27%;
    }
    .card-text i{
        width: 5px;

    }
    .section-products article hr{
        width: 150px;
    }
    .div-svg{
        display: flex;
        flex-direction: column;
        height: 50vh; 
    }

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
    .img-png img{
        width: 30%;
       margin: 2px;
    }
    .nav-footer .div-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-bas{
        left: 20px;
    }
    
    .social-media{
        margin-top: 45px; 
        
         margin-left: -40px;
    }
    .nav-footer .div-footer div{
        margin: 5px;
    }
} 
  